html{
    font-size: 10px;
}
body{
    width: 100%;
    text-align: center;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}
#main{
    border-radius: 5px;
    margin: 50px 5px 20px 5px; 
    font-size: 1.5rem;
    background-color: #EEEEEE;
}
#title{
    margin: 3rem 0px 0px 0px;
    font-size: 2.1em;    
    color: #333333;
    padding-top: 3rem;
}
#titulo_2{    
    font-size: 1.4rem;    
    color: #333333;
    font-weight: lighter;
}
#img-div{
    background-color: white;
    width: 98%;
    display: inline-block;
}
#foto{
    max-width: 65%;
}
#img-caption{
    margin: 1rem 0rem 1rem 0rem;
    font-size: 0.9em;    
    color: #333333;
}
#tribute-info{
    width: 35%;    
    display: inline-block; 
}
ul{   
    font-size: 0.85em;
    text-align: justify;
}
li{
    margin-top: 1em;
}
blockquote{
    margin-top: 3rem;
    text-align: justify;
    font-size: 1.3rem;
}