html{
    font-size: 10px;
}
body{
    width: 100%;
    text-align: center;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: #333;
}
#main{
    border-radius: 5px;
    margin: 1% 1% 1% 1%; 
    font-size: 1.5rem;
    background-color: #EEEEEE;
}
#title{
    margin: 3rem 0px 0px 0px;
    font-size: 2.1em;    
    color: #333333;
    padding-top: 3rem;
}
#titulo_2{    
    font-size: 1.4rem;    
    color: #333333;
    font-weight: lighter;
}
.figura{
    padding: 10px 0 0 0;
    margin: 0px;
}
#img-div{
    background-color: white;
    width: 98%;
    display: inline-block;
}
#image{
    max-width: 90%;
    min-width: 300px;
    border-radius: 5px;
}
#img-caption{
    margin: 5px 0 10px 0;
    font-size: 0.9em;    
    color: #333333;
    font-style: italic;
}
#tribute-info{
    max-width: 60%;
    min-width: 300px;    
    display: inline-block;
    padding: 0 5% 0 5%;
}
cite{
    margin-top: 3rem;
    text-align: justify;
}
section{
    margin-bottom: 40px;
}
.parrafo{
    font-size: 1.4rem;    
    text-align: justify;
}
#tribute-link{
    color: black;
    font-style: italic;
    font-weight: bold;
}
#tribute-link:hover{
    opacity: 80%;
 font-style: italic;
}
.link{    
    color: black;
    font-style: italic;
    font-weight: bold;
}
.link:hover{
    opacity: 80%;
 font-style: italic;
}
.end{
    display: inline-block;
}